---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavLink from "@/components/NavLink.astro";

const articlesCollection = await getCollection("articles");
const tags = [
  ...new Set(articlesCollection.map((article) => article.data.tags).flat()),
].sort();
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap gap-4">
    {tags.map((tag) => <NavLink url={`/tags/${tag}`}>#{tag}</NavLink>)}
  </div>
</BaseLayout>
