---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const articlesCollection = await getCollection("articles");
const tags = [
  ...new Set(articlesCollection.map((article) => article.data.tags).flat()),
];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap gap-4">
    {
      tags.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class="styled-link text-2xl text-light-textMuted dark:text-dark-textMuted bg-light-accent dark:bg-dark-accent rounded-md px-2 py-1">
          #{tag}
        </a>
      ))
    }
  </div>
</BaseLayout>
