---
import BaseLayout from "../layouts/BaseLayout.astro";

// TODO: [HI] SEO
---

<BaseLayout pageTitle="About">
  <div class="prose sm:prose-lg dark:prose-invert mx-auto">
    <h1>Hey, I'm Mike</h1>
    <p>
      I'm a <strong>Software Engineer</strong> working mostly on the frontend
      with <a
        href="https://www.typescriptlang.org/"
        rel="external noopener"
        >Typescript</a
      > and <a
        href="https://angular.dev/"
        rel="external noopener"
        >Angular</a
      >. I also work with all sorts of backend, database, devops, and cloud
      technologies.
    </p>
    <p>
      I'm currently working with a not for profit insurance group to modernize
      and expand their online presence so they can better server their clients.
    </p>
    <p>
      You can find me here on <a href="https://onceuponanipsum.dev"
        >Once Upon an Ipsum</a
      > where I write about software development and other things. On <a
        href="https://github.com/mambroz27"
        rel="external noopener"
        >Github</a
      > where I share my code, or on <a
        href="https://www.linkedin.com/in/michael-ambrozaitis-04290459/"
        rel="external noopener"
        >LinkedIn</a
      > where I share my professional experience.
    </p>
  </div>
</BaseLayout>
