---
import BaseLayout from "../layouts/BaseLayout.astro";

// TODO: ⏫ Write About Content
---

<BaseLayout pageTitle="About">
  <h1>Hey, I'm Mike</h1>
  <p>
    I'm a <strong>Software Developer</strong> working mostly on the frontend
    with <a
      href="https://angular.dev/"
      rel="external noopener"
      >Angular</a
    >.
  </p>
</BaseLayout>
