---
import BaseLayout from "../layouts/BaseLayout.astro";

// TODO: ⏫ Write About Content
---

<BaseLayout pageTitle="About">
  <div class="prose dark:prose-invert">
    <h1>Hey, I'm Mike</h1>
    <p>
      I'm a <strong>Software Engineer</strong> working mostly on the frontend
      with <a
        href="https://www.typescriptlang.org/"
        rel="external noopener"
        >Typescript</a
      > and <a
        href="https://angular.dev/"
        rel="external noopener"
        >Angular</a
      >. I also work with all sorts of backend, database, devops, and cloud
      technologies.
    </p>
  </div>
</BaseLayout>
