---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Stub from "@/components/Stub.astro";
import NavLink from "@/components/NavLink.astro";

const showMax = 10;
const articlesCollection = await getCollection("articles");
const articles = articlesCollection
  .sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime();
  })
  .slice(0, showMax);

// TODO: [MED] Include Projects collection, where should a view more link go?
// TODO: [MED] View Transistions
// TODO: [HI] SEO
---

<BaseLayout>
  <div class="flex flex-col gap-8">
    {articles.map((article) => <Stub article={article} />)}

    {
      articlesCollection.length > showMax ? (
        <div class="flex items-center justify-center">
          <NavLink url="/articles">More</NavLink>
        </div>
      ) : null
    }
  </div>
</BaseLayout>
