---
import BaseLayout from "../layouts/BaseLayout.astro";

// TODO: Add projects collection
---

<BaseLayout pageTitle="Projects">
  <h1 class="text-2xl text-center mb-4">COMING SOON</h1>
  <p class="text-lg text-center">
    This page will host side projects in the future.
  </p>
</BaseLayout>
