---
export interface Props {
  url: string | undefined;
  title: string;
  date: string;
  excerpt?: string | null;
  tags?: string[] | null;
  img?: string | null;
}

const { title, url, date, excerpt = null, tags = null } = Astro.props as Props;

const dateObj = new Date(date);
const formattedDate = dateObj.toLocaleDateString("en-US", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li class="prose prose-slate dark:prose-invert">
  <small class="text-light-textMuted dark:text-dark-textMuted"
    >{formattedDate}</small
  >
  <h2 class="text-2xl my-0">
    <a
      href={url}
      class="!no-underline font-bold"
      >{title}</a
    >
  </h2>
  <p class="text-lg">{excerpt}</p>
</li>
