---
import IconLink from "./IconLink.astro";

const socials: { link: string; icon: string }[] = [
  { link: "https://github.com/mambroz27", icon: "github" },
  {
    link: "https://www.linkedin.com/in/michael-ambrozaitis-04290459/",
    icon: "linkedin",
  },
];
---

<footer class="bg-light-accent p-6 dark:bg-dark-accent">
  <div class="max-w-4xl mx-auto flex flex-col">
    <div class="flex items-center gap-4 justify-center text-xl mb-8">
      {
        socials.map((social) => (
          <IconLink
            url={social.link}
            icon={social.icon}
            openNew={true}
          />
        ))
      }
    </div>
    <div class="text-center mb-8 text-xs">
      <p class="mb-2">COPYRIGHT 2023 MICHAEL AMBROZAITIS</p>
      <p>
        This work is licensed under a <a
          href="https://creativecommons.org/licenses/by/4.0/"
          >Creative Commons Attribution 4.0 International License</a
        >. Share free and far across the land, but provide attribution.
      </p>
    </div>
    <div class="flex items-center justify-center text-xs mb-8">
      <p>BUILT WITH</p>
      <IconLink
        url="https://astro.build/"
        icon="astro"
        openNew={true}
        classes="h-[30px] w-[114px] scale-75"
      />
    </div>
    <div class="text-center text-xs opacity-60">
      <p class="mb-2">DISCLAIMER</p>
      <p>Opinions expressed here are my own.</p>
    </div>
  </div>
</footer>
