---
const socials: { link: string; icon: string }[] = [
  { link: "https://github.com/mambroz27", icon: "fa-brands fa-github" },
  {
    link: "https://www.linkedin.com/in/michael-ambrozaitis-04290459/",
    icon: "fa-brands fa-linkedin",
  },
];
---

<footer class="bg-slate-400 p-6">
  <div class="max-w-7xl mx-auto">
    <div class="text-sm mb-2">
      <p class="m-0">COPYRIGHT 2023 MICHAEL AMBROZAITIS</p>
      <p class="m-0">
        This work is licensed under a <a
          href="https://creativecommons.org/licenses/by/4.0/"
          >Creative Commons Attribution 4.0 International License</a
        >. Share free and far across the land, but provide attribution.
      </p>
    </div>
    <div class="flex gap-2">
      <div class="mr-auto text-sm">
        <p>DISCLAIMER</p>
        <p>Opinions expressed here are my own.</p>
      </div>
    </div>
  </div>
</footer>
