---
import IconLink from "./IconLink.astro";

const socials: { link: string; icon: string }[] = [
  { link: "https://github.com/mambroz27", icon: "github" },
  {
    link: "https://www.linkedin.com/in/michael-ambrozaitis-04290459/",
    icon: "linkedin",
  },
  {
    link: "/rss.xml",
    icon: "rss",
  },
];

// TODO: Add links to additional pages like tag index?
---

<footer class="bg-light-accent p-6 dark:bg-dark-accent dark-transition">
  <div class="max-w-4xl mx-auto w-full flex flex-wrap justify-between">
    <div
      class="flex items-center gap-4 justify-center text-xl mb-8 w-full md:w-1/2 md:order-4 md:justify-end md:mb-0">
      {
        socials.map((social) => (
          <IconLink
            url={social.link}
            icon={social.icon}
            openNew={true}
          />
        ))
      }
    </div>
    <div class="text-center mb-8 text-xs w-full md:w-1/2 md:text-left">
      <p class="mb-2">COPYRIGHT 2023 MICHAEL AMBROZAITIS</p>
      <p>
        This work is licensed under a <a
          href="https://creativecommons.org/licenses/by/4.0/"
          >Creative Commons Attribution 4.0 International License</a
        >. Share free and far across the land, but provide attribution.
      </p>
    </div>
    <div
      class="text-center text-xs text-light-textMuted dark:text-dark-textMuted w-full mb-8 md:w-1/2 md:order-3 md:mb-0 md:text-left dark-transition">
      <p class="mb-2">DISCLAIMER</p>
      <p>Opinions expressed here are my own.</p>
    </div>
    <div
      class="text-xs w-full md:w-1/2 flex items-center justify-center md:items-start md:justify-end">
      <div class="flex items-center justify-center">
        <p>BUILT WITH</p>
        <IconLink
          url="https://astro.build/"
          icon="astro"
          openNew={true}
          classes="h-[30px] w-[114px] scale-75"
        />
      </div>
    </div>
  </div>
</footer>
