<header
  class="flex flex-col items-center gap-4 px-3 py-4 md:py-6 max-w-4xl mx-auto w-full">
  <a
    href="/"
    class="styled-link">
    <h1
      class="text-2xl font-title flex items-center gap-2 m-0 md:text-4xl lg:text-6xl text-light-text dark:text-dark-text dark-transition">
      <span>Once Upon</span>
      <span class="text-lg md:text-2xl">an</span>
      <span>Ipsum</span>
    </h1>
  </a>
</header>
