<header class="flex flex-col items-center gap-4 px-3 py-4 md:py-6">
  <h1 class="text-2xl font-title flex items-center gap-1 m-0 md:text-4xl">
    <span>Once Upon</span>
    <span class="text-lg md:text-2xl">an</span>
    <span>Ipsum</span>
  </h1>
</header>
