<nav
  class="border-t border-b border-black/20 py-2 flex items-center justify-center gap-4">
  <a href="/articles">Articles</a>
  <a href="/projects">Projects</a>
  <a href="/about">About</a>
</nav>
