---
import NavLink from "./NavLink.astro";
---

<nav
  class="border-t border-b border-black/20 dark:border-white/20 py-2 flex items-center justify-center gap-4">
  <NavLink url="/articles">Articles</NavLink>
  <NavLink url="/projects">Projects</NavLink>
  <NavLink url="/about">About</NavLink>
</nav>
