---
export interface Props {
  url: string;
  openNew?: boolean;
  rel?: string[];
  size?: "sm" | "md";
  classes?: string;
}

import { twMerge } from "tailwind-merge";

const {
  url,
  openNew = false,
  rel = [],
  size = "md",
  classes = "",
} = Astro.props as Props;
const fullUrl = new URL(Astro.request.url);
const active = url === fullUrl.pathname;

const tw = twMerge(
  "styled-link",
  "flex items-center justify-center text-lg px-4 cursor-pointer gap-2 h-12 border-box",
  "transition-all duration-300 ease-out",
  "text-light-link dark:text-dark-link",
  "rounded-3xl border-2 border-transparent",
  "hover:border-light-textMuted/10 dark:hover:border-dark-textMuted/10",
  "bg-transparent",
  "hover:bg-light-textMuted/5 dark:hover:bg-dark-textMuted/5",
  size === "sm" ? "text-sm px-2 gap-1 h-7 border" : "",
  active ? "text-light-linkHover dark:text-dark-linkHover" : "",
  classes
);

let relArray = rel;

if (openNew) {
  relArray = [...relArray, "noopener", "noreferrer"];
  relArray = [...new Set(relArray)];
}
---

<a
  href={url}
  {...openNew && { target: "_blank" }}
  {...relArray.length > 0 && { rel: relArray.join(" ") }}
  class={tw}>
  <slot />
</a>
