---
export interface Props {
  url: string;
  openNew?: boolean;
  classes?: string;
}

import { twMerge } from "tailwind-merge";

const { url, openNew = false, classes = "" } = Astro.props as Props;
const fullUrl = new URL(Astro.request.url);
const active = url === fullUrl.pathname;

const tw = twMerge(
  "styled-link dark-transition",
  "text-light-link hover:text-light-linkHover",
  "dark:text-dark-link dark:hover:text-dark-linkHover",
  "no-underline text-lg",
  active ? "text-light-linkHover dark:text-dark-linkHover" : "",
  classes
);
---

<a
  href={url}
  {...openNew && { target: "_blank", rel: "noopener noreferrer" }}
  class={tw}>
  <slot />
</a>
