---
export interface Props {
  size?: "sm" | "md" | "lg";
}

const { default: squareShareIcon } = await import(
  "../assets/icons/square-share.svg?raw"
);
const { default: shareIcon } = await import("../assets/icons/share.svg?raw");
const { size = "md" } = Astro.props;
---

{
  size === "sm" && (
    <button
      share-button
      class="h-4 w-4 text-base leading-4 flex items-center justify-center dark-transition child:dark-transition text-light-link hover:text-light-linkHover child:!fill-light-link child-hover:!fill-light-linkHover dark:text-dark-link dark:hover:text-dark-linkHover dark:child:!fill-dark-link dark:child-hover:!fill-dark-linkHover">
      <Fragment set:html={squareShareIcon} />
    </button>
  )
}
