---
export interface Props {
  pageTitle?: string | null;
}

import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { pageTitle = null } = Astro.props as Props;
---

<html
  lang="en"
  class="dark">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/icon/favicon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      href="/icon/favicon.png"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <script
      is:inline
      src="https://kit.fontawesome.com/6a372628d6.js"
      crossorigin="anonymous"
    ></script>
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>
      {
        pageTitle !== null
          ? pageTitle + " | Once Upon an Ipsum"
          : "Once Upon an Ipsum"
      }
    </title>

    <script is:inline>
      // Get the saved theme preference
      let userTheme = localStorage.getItem("theme");

      // Get the system preference
      let systemTheme =
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";

      // If we have a saved theme, use it. Otherwise, default to dark
      let activeTheme =
        userTheme === "system" ? systemTheme : userTheme || "dark";

      // Set the active theme
      if (activeTheme !== "dark") {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="flex flex-col min-h-screen bg-light-bg text-light-text dark:bg-dark-bg dark:text-dark-text dark-transition">
    <Header />
    <Navigation />
    <main
      class="grow max-w-4xl mx-auto w-full px-3 py-6 md:py-12 md:px-10 mb-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
